In [1]:
import pandas as pd

In [4]:
pd.__version__

'1.1.0'

In [9]:
import numpy as np
x=[1 ,2 ,3 ,4 ,5]
x=np.array(x)
x

array([1, 2, 3, 4, 5])

In [10]:
type(x)

numpy.ndarray

In [11]:
y=pd.Series(x)

In [12]:
y

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [13]:
df=pd.DataFrame(y)

In [14]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [15]:
df['index']=df.index
df

   0  index
0  1      0
1  2      1
2  3      2
3  4      3
4  5      4